:root body {
    --primary-color: #6024d2;
    --secondary-color: #ffc600;
    --text-color-white: #ffffff;
    --text-color-grey: #212021;
    --text-color-light-grey: #DFDFDF;
    --bg-light-grey: #ebf1f5;
    --bg-white: #ffffff;
    --bg-grey: #21233a;
}
